name: smartrte_flutter
description: Flutter package wrapping Smart RTE Rust FFI
version: 0.1.0
publish_to: "none"
environment:
  sdk: ">=3.0.0 <4.0.0"
dependencies:
  flutter:
    sdk: flutter
  ffi: ^2.1.0
  flutter_rust_bridge: ^1.82.0
dev_dependencies:
  flutter_test:
    sdk: flutter
flutter:
  plugin:
    platforms:
      ios:
        pluginClass: SmartrteFlutterPlugin
      android:
        package: com.smart.rte
        pluginClass: SmartrteFlutterPlugin
