name: Rust CI

on:
  push:
    branches: [main, develop, custom-implementation]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Build
        run: cargo build --workspace --all-targets --verbose
      - name: Test
        run: cargo test --workspace --verbose
